upstream {{ item }} {    
    {% for addr in upstream %}
    server {{ upstream[addr].server }};
    {% endfor %}   
}

server {
        listen 80;
        listen [::80];
        server_name {{ ansible_default_ipv4.address }};
        root /var/www/{{ item }};
        try_files $uri /index.html;
}
